<h2 class="profile_title">
  <strong>Profile for</strong>
  <%= @user.fname %>
  <%= @user.lname %>
</h2>

<div class="cards">
  <% @list = @ownedCards %>
  <% if @list.length != 0 %>
	  <% @list.each do | card | %>
    <p>Cards:</p>
		<%= card.card_number %>
		<%= card.card_type %>
		| Expires: <%= card.expiration_month %>/<%= card.expiration_year %><br>
	  <% end %>
  <% else %>
  	<h3>You have no cards.</h3>
  <% end %>
</div>
 	 
  
