<h2 class="profile_title">
  <strong>Profile for</strong>
  <%= @user.fname %>
  <%= @user.lname %>
</h2>

<div class="cards">
  <% @list = @user.cards %>
  <% @list.each do | card | %>
	<%= @card.card_number %>
	<%= @card.card_type %>
	<%= @card.expiration_month %>
	<%= @card.expiration_year %>
  <% end %>
</div>
 	 
  
