<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :card_number %>
    <%= f.text_field :card_number%>
  </div>
  <div class="field">
    <%= f.label :expiration_month %>
    <%= f.text_field :expiration_month %>
  </div>
  <div class="field">
    <%= f.label :expiration_year %>
    <%= f.text_field :expiration_year %>
  </div>
  <% if !@card.new_record? %>
    <div class="field">
      <%= f.label :balance %>
      <%= f.text_field :balance %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
  <br >
<% end %>