<p>
  <strong>Card:</strong>

  <table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Card Number</th>
	      <th>Card Type</th>
	      <th>Expiration Month</th>
	      <th>Expiration Year</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>

	  <tbody>
		<tr>
		  <th><%= @card.card_number %></th>
	      <th><%= @card.card_type %></th>
	      <th><%= @card.expiration_month %></th>
		  <th><%= @card.expiration_year %></th>
		</tr>
	  </tbody>
  </table>
</p>

<%= link_to 'Back', cards_path %>