<!DOCTYPE html>
<html>
<head>
  <title>Welcome to MyWallet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <%= link_to "Sign up now!", signup_path %>
</div>
  <!-- start flash messaging -->
  <% if flash[:notice] %>
	<div class="flash_notice">
		<%=flash[:notice] %>
	</div>
  <% end %>
  <% if flash[:alert] %>
	<div class="flash_alert">
		<%=flash[:alert] %>
	</div>
  <% end %>
  <!-- end flash messaging -->

<%= yield %>

</body>
</html>
