<!DOCTYPE html>
<html>
<head>
  <title>Welcome to MyWallet</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home",   '/' %></li>
            <% if session[:session_user_id] %>
            <li><%= link_to "My Profile", {:controller =>'users', :action => 'show', :id => session[:session_user_id]} %></li>       
            <li><%= link_to 'New Card', {:controller =>'cards', :action => 'new'} %></li>
            <% end %>
        </ul>
      </nav>
    <div class="login_info">
      <% if session[:session_user_id] %>
        <%= link_to "Logout", '/logout' %><br>
        <%= session[:session_user_email] %>
      <% else %>
        <%= link_to "Login", '/login' %> | 
        <%= link_to "Sign-Up", '/signup' %>
      <% end %>
    </div>
  </header>

  <!-- start flash messaging -->
  <% if flash[:notice] %>
	<div class="flash_notice">
		<%=flash[:notice] %>
	</div>
  <% end %>
  <% if flash[:alert] %>
	<div class="flash_alert">
		<%=flash[:alert] %>
	</div>
  <% end %>
  <!-- end flash messaging -->

  <div class="row">
    <div id="main-content" class="container">
      <%= yield %>
    </div>
  </div>

</body>
</html>
